ago>=0.0.93
aiohttp>=3.7.4.post0
altgraph>=0.17
appdirs>=1.4.4
async-timeout>=3.0.1
asyncio>=3.4.3
asyncpg>=0.23.0
atomicwrites>=1.4.0
attrs>=21.2.0
certifi>=2021.5.30
chardet>=4.0.0
discord>=1.0.1
discord.py>=1.7.3
discord-py-slash-command>=2.0.3
humanize>=3.9.0
idna>=2.10
multidict>=5.1.0
pip>=20.0.2
# pkg-resources>=0.0.0
py>=1.10.0
requests>=2.25.1
setuptools>=44.0.0
si>=0.1.1.post1
six>=1.16.0
timeago>=1.0.15
timedelta>=2020.12.3
typing-extensions>=3.10.0.0
urllib3>=1.26.5
yarl>=1.6.3
